<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon name="cog" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button color="danger" (click)="fetchData()">
    Get data from API
  </ion-button>

  <div>
    <div *ngIf="data.results">
      <div *ngIf="data.results[0]">
        <div *ngIf="data.results[0].definition">
          {{data.results[0].definition}}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="word$ | async; let word">
    {{word.results[0].definition}}
  </div>

  <div>
    <h2>Toto jsou data z nastavení</h2>

    <ng-container *ngFor="let item$ of words$">
      <ng-container *ngIf="item$ | async; let word">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{word.word}}</ion-card-title>
            <ion-card-subtitle>{{word.syllables.count}} Syllables</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content *ngFor="let result of word.results; let i = index">
            {{i + 1}}. {{result.definition}}
          </ion-card-content>

        </ion-card>
      </ng-container>
    </ng-container>
  </div>

</ion-content>
