<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon name="cog" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button color="danger" (click)="fetchData()">
    Get data from API
  </ion-button>

  <div>
    <div *ngIf="data.results">
      <div *ngIf="data.results[0]">
        <div *ngIf="data.results[0].definition">
          {{data.results[0].definition}}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="word$ | async; let word">
    {{word.results[0].definition}}
  </div>
</ion-content>
