<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <h3 class="ion-padding">The purpose of the application is to demonstrate work with the Ionic framework and WordsAPI</h3>
  </ion-item>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="logo-ionic"></ion-icon>
         Ionic Framework
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="logo-angular"></ion-icon>
         Angular
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="star-outline"></ion-icon>
         WordsAPI
      </ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
